<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Angular client to get date api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
      
    <script src="./angular/lib/angular.min.js"></script>
    <script src="./angular/lib/angular-route.min.js"></script>
    <script src="./angular/src/app.js"></script>
    <script src="./angular/src/controllers.js"></script>
    <script src="./angular/src/services.js"></script>
  </head>
  <body>
    <a href="/users/logout">log out</a>
    <div ng-view="">
    </div>    
  </body>
</html>